body {
    text-align: center;
    margin: 0px;
    font-family: "Open Sans Condensed";
    background-color: white;
}

h1 {
  margin-bottom: 0;
}

h2 {
  font-size: 30;
}

p {
  font-size: 25;

}

.project {
  font-size: 30;
  background-color: white;
  height: 600px;
}

.about {
    background-color: white;
    padding: 0px;
    text-align: left;
}
.container {
    width: 90%;
    height: 500px;
    margin: auto;
    padding: 10px;
    background-color: white;
  }
  
  .one {
    width: 40%;
    height: 500px;
    text-align: left;
    font-size: 40;
    float: left;
    background-color: white;
  }
  
  .two {
    margin-left: 40%;
    position: relative;
    top: 0;
    left: 0;
    height: 500px;
    background-color: white;
  }

  .profile {
    border-radius: 50%;
    float: right;
    margin-top: 30px;
    position: absolute;
    top: 50px;
    right: 80px;
  }
  .blob{
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: -175;
    margin-right: 0px;
  }

